<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<%- include('../common/header.ejs') %>
	<title>编辑分类</title>
</head>
<body>
	<%- include('../common/top.ejs') %>
	<div class="l-content">
		<%- include('../common/left.ejs') %>
		<div class="l-right">
			<div class="l-right-wrap">
				<form action="/authority/edit" method="post" class="form-horizontal">
					<input type="hidden" name="id" value="<%=catagory._id%>" />
					<div class="input-group">
						<span class="input-group-addon">中文名称</span>
						<input type="text" name="cname" class="form-control" value="<%=catagory.cname%>" />
					</div>
					<div class="input-group">
						<span class="input-group-addon">英文名称</span>
						<input type="text" name="ename" class="form-control" value="<%=catagory.ename%>" />
					</div>
					<div class="input-group">
						<input type="submit" value="编辑" class="btn btn-block" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>