<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<%- include('common/header.ejs') %>
	<title>修改密码</title>
</head>
<body>
	<%- include('common/top.ejs') %>
	<div class="l-content">
		<%- include('common/left.ejs') %>
		<div class="l-right">
			<div class="l-right-wrap">
				<div class="container-fluid">
					<form action="/updatepassword" method="post" class="form-horizontal">
						<input type="hidden" name="id" value="<%=admin._id%>" />
						<div class="input-group">
							<span class="input-group-addon">用户名</span>
							<input type="text" class="form-control" name="name" value="<%=admin.name%>" readonly="readonly" />
						</div>
						<div class="input-group">
							<span class="input-group-addon">新密码</span>
							<input type="password" class="form-control" name="newpassword" />
						</div>
						<div class="input-group">
							<span class="input-group-addon">重复密码</span>
							<input type="password" class="form-control" name="repassword" />
						</div>
						<p class="text-center"><input type="submit" value="提交" /></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>