<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<%- include('../common/header.ejs') %>
	<title>编辑角色 - <%=role.name%></title>
</head>
<body>
	<%- include('../common/top.ejs') %>
	<div class="l-content">
		<%- include('../common/left.ejs') %>
		<div class="l-right">
			<div class="l-right-wrap">
				<form action="/role/edit" method="post" class="form-horizontal">
					<input type="hidden" name="id" value="<%=role._id%>" />
					<div class="input-group">
						<span class="input-group-addon">名称</span>
						<input type="text" name="name" class="form-control" value="<%=role.name%>" />
					</div>
					<div class="input-group">
						<input type="submit" value="编辑" class="btn btn-block" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>